[package]
name = "ghdash"
authors = ["Jeremiah Russell <jrussell@jerus.ie>"]
version = "0.1.6"
description = "Dashboard for Github account"
edition = "2021"
publish = false

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
anyhow = "1.0.75"
clap = { version = "4.4.11", features = ["derive", "cargo"] }
clap-verbosity-flag = "2.1.1"
comfy-table = "7.1.0"
confy = "0.5.1"
log = "0.4.20"
octorust = { path = "../third-party-api-clients/github" }
opentelemetry = "0.21.0"
opentelemetry-jaeger = "0.20.0"
serde = { version = "1.0.193", features = ["derive"] }
serde_derive = "1.0.193"
thiserror = "1.0.51"
tokio = { version = "1.35.1", features = ["macros", "rt-multi-thread"] }
tracing = "0.1.40"
tracing-opentelemetry = "0.22.0"
tracing-subscriber = { version = "0.3.18", features = ["std", "env-filter"] }

[dev-dependencies]
trycmd = "0.14.19"

[lib]
name = "ghdash"
path = "src/lib.rs"

[[bin]]
name = "ghdash"
path = "src/main.rs"

[package.metadata.docs.rs]
all-features = true
rustdoc-args = ["--cfg", "docsrs"]
