[package]
name = "ghdash"
authors = ["Jeremiah Russell <jrussell@jerus.ie>"]
version = "0.1.0"
description = "Dashboard for Github account"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
clap = { version = "4.0.26", features = ["derive", "cargo"] }

[dev-dependencies]
trycmd = "0.14.4"

[lib]
name = "ghdash"
path = "src/lib.rs"


[[bin]]
name = "ghdash"
path = "src/main.rs"

[package.metadata.docs.rs]
all-features = true
rustdoc-args = ["--cfg", "docsrs"]
