[package]
name = "ghdash"
authors = ["Jeremiah Russell <jrussell@jerus.ie>"]
version = "0.1.6"
description = "Dashboard for Github account"
edition = "2021"
publish = false
rust-version = "1.74"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
anyhow = "1.0.79"
clap = { version = "4.5.0", features = ["derive", "cargo"] }
clap-verbosity-flag = "2.1.2"
comfy-table = "7.1.0"
confy = "0.6.0"
log = "0.4.20"
octorust = "0.7"
opentelemetry = "0.21.0"
opentelemetry-jaeger = { version = "0.20.0", features = ["rt-tokio"] }
opentelemetry_sdk = { version = "0.21.2", features = ["tokio", "rt-tokio"] }
serde = { version = "1.0.196", features = ["derive"] }
serde_derive = "1.0.196"
thiserror = "1.0.57"
tokio = { version = "1.36.0", features = ["macros", "rt-multi-thread"] }
tracing = "0.1.40"
tracing-opentelemetry = "0.22.0"
tracing-subscriber = { version = "0.3.18", features = ["std", "env-filter"] }

[dev-dependencies]
trycmd = "0.14.21"

[lib]
name = "ghdash"
path = "src/lib.rs"

[[bin]]
name = "ghdash"
path = "src/main.rs"

[package.metadata.docs.rs]
all-features = true
rustdoc-args = ["--cfg", "docsrs"]
