[package]
name = "ghdash"
authors = ["Jeremiah Russell <jrussell@jerus.ie>"]
version = "0.1.4"
description = "Dashboard for Github account"
edition = "2021"
publish = false

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
anyhow = "1.0.66"
clap = { version = "4.0.26", features = ["derive", "cargo"] }
clap-verbosity-flag = "2.0.0"
comfy-table = "6.1.4"
confy = "0.5.1"
log = "0.4.17"
octorust = { path = "../third-party-api-clients/github" }
opentelemetry = "0.18.0"
opentelemetry-jaeger = "0.17.0"
serde = { version = "1.0.147", features = ["derive"] }
serde_derive = "1.0.147"
thiserror = "1.0.37"
tokio = { version = "1.22.0", features = ["macros", "rt-multi-thread"] }
tracing = "0.1.37"
tracing-opentelemetry = "0.18.0"
tracing-subscriber = { version = "0.3.16", features = ["std", "env-filter"] }

[dev-dependencies]
trycmd = "0.14.4"

[lib]
name = "ghdash"
path = "src/lib.rs"

[[bin]]
name = "ghdash"
path = "src/main.rs"

[package.metadata.docs.rs]
all-features = true
rustdoc-args = ["--cfg", "docsrs"]
