[package]
name = "ghdash"
authors = ["Jeremiah Russell <jrussell@jerus.ie>"]
version = "0.1.7"
description = "Dashboard for Github account"
edition = "2021"
publish = false
rust-version = "1.74"
license = "MIT OR Apache-2.0"
repository = "https://github.com/jerusdp/ghdash"
documentation = "https://docs.rs/ghdash"
readme = "README.md"
categories = [
    "command-line-interface",
    "command-line-utilities",
    "development-tools",
]
keywords = ["github", "cli"]
include = [
    "**/*.rs",
    "Cargo.toml",
    "README.md",
    "LICENSE-MIT",
    "LICENSE-APACHE",
    "CHANGES.md",
]

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
anyhow = "1.0.82"
bollard = "0.16.1"
clap = { version = "4.5.4", features = ["derive", "cargo"] }
clap-verbosity-flag = "2.2.0"
comfy-table = "7.1.1"
confy = "0.6.1"
log = "0.4.21"
octorust = "0.7.0"
opentelemetry = "0.24.0"
opentelemetry-zipkin = { version = "0.21.0", features = [
    "reqwest-client",
], default-features = false }
opentelemetry_sdk = { version = "0.24.0", features = ["tokio", "rt-tokio"] }
serde = { version = "1.0.200", features = ["derive"] }
serde_derive = "1.0.200"
thiserror = "1.0.59"
tokio = { version = "1.37.0", features = ["macros", "rt-multi-thread"] }
tracing = "0.1.40"
tracing-opentelemetry = "0.24.0"
tracing-subscriber = { version = "0.3.18", features = ["std", "env-filter"] }

[patch.crates-io]
octorust = { git = 'https://github.com/jerusdp/octorust.git' }

[dev-dependencies]
futures-util = "0.3.30"
reqwest = "0.12.4"
trycmd = "0.15.1"

[lib]
name = "ghdash"
path = "src/lib.rs"

[[bin]]
name = "ghdash"
path = "src/main.rs"

[package.metadata.docs.rs]
all-features = true
rustdoc-args = ["--cfg", "docsrs"]
