pre-release-commit-message = "chore: Release"
tag-message = "{{tag_name}}"
tag-name = "{{prefix}}v{{version}}"
sign-tag = true
sign-commit = true
consolidate-commits = true
allow-branch = ["main"]
pre-release-replacements = [
    # {file = "README.md", search = "ghdash = .*", replace = "{{crate_name}} = \"{{version}}\""},
    # {file = "README.md", search = "ghdash 0.*", replace = "{{crate_name}} {{version}}"},
    { file = "src/lib.rs", search = "ghdash = .*", replace = "{{crate_name}} = \"{{version}}\"" },
    { file = "tests/cmd/version.trycmd", search = "ghdash 0.*", replace = "{{crate_name}} {{version}}" },
    { file = "PRLOG.md", search = "## \\[Unreleased\\]", replace = "## [{{version}}] - {{date}}", exactly = 1 },
    { file = "PRLOG.md", search = "\\[Unreleased\\]:", replace = "[{{version}}]:", exactly = 1 },
    { file = "PRLOG.md", search = "\\.\\.\\.HEAD", replace = "...{{tag_name}}", exactly = 1 },
]
