pre-release-commit-message = "chore: Release"
tag-message = "{{tag_name}}"
tag-name = "{{prefix}}v{{version}}"
sign-tag = true
sign-commit = true
consolidate-commits = true
allow-branch = ["main"]
pre-release-replacements = [
    # {file = "README.md", search = "ghdash = .*", replace = "{{crate_name}} = \"{{version}}\""},
    # {file = "README.md", search = "ghdash 0.*", replace = "{{crate_name}} {{version}}"},
    { file = "src/lib.rs", search = "ghdash = .*", replace = "{{crate_name}} = \"{{version}}\"" },
    { file = "tests/cmd/versiion.trycmd", search = "ghdash *", replace = "{{crate_name}} \"{{version}}\"" },
    { file = "CHANGELOG.md", search = "Unreleased", replace = "{{version}}" },
    { file = "CHANGELOG.md", search = "\\.\\.\\.HEAD", replace = "...{{tag_name}}", exactly = 1 },
    { file = "CHANGELOG.md", search = "ReleaseDate", replace = "{{date}}" },
    { file = "CHANGELOG.md", search = "<!-- next-header -->", replace = "<!-- next-header -->\n\n## [Unreleased] - ReleaseDate", exactly = 1 },
    { file = "CHANGELOG.md", search = "<!-- next-url -->", replace = "<!-- next-url -->\n[Unreleased]: https://github.com/jerusdp/ghdash/compare/{{tag_name}}...HEAD", exactly = 1 },
]
